@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    font-family: 'Lato', sans-serif;
    font-size: 62.5%;
    background-color: dodgerblue;
}
.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 2rem 0 2rem;
    h1{
        text-align: center;
        font-size: 5rem;
        margin-bottom: 1rem;
        a{
            color: gold;
            padding: 0 1rem 0 1rem;
        }
    }
    button{
        padding: 1rem 2rem;
        border: none;
        border-radius: 1rem;
        outline: none;
        cursor: pointer;
        background-color: rgb(22, 207, 22);
        transition: 0.2s ease-in-out;
        &:hover{
            background-color: rgb(9, 181, 9);
        }
        font-size: 2rem;
    }
    p{
        font-size: 2.5rem;
        margin: 0.5rem;
        margin-top: 1rem;
    }
}
p{
    display: none;
}
